extends ../layout/base 
block content 
	section.content-header 
		h1 
			| Selamat Datang
		ol.breadcrumb 
			li 
				a(href='/dashboard') 
					i.fa.fa-home
					| Home
			li.active Dashboard
		
	section.content
		.box
			.box-header.with-border
				h3.box-title
					| Berita Hari ini 
				
				.data-table 
				
					table.table
						tr
							th
								| Kenaikan gaji dipercepat pada tanggal 10 april 2023
							